version: '3.8'

services:
  vanna-app:
    build: .
    container_name: vanna_agent
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    volumes:
      - .:/app
    command: python app.py
    depends_on:
      db:
        condition: service_healthy
